.container {
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addButton {
  padding: 10px;
  background-color: #5d57c9;
  color: var(--text);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.table {
  width: 100%;
}

.table td {
  padding: 10px;
}

.product {
  display: flex;
  align-items: center;
  gap: 10px;
}

.productImage {
  border-radius: 50%;
  object-fit: cover;
}

.buttons {
  display: flex;
  gap: 10px;
}

.button {
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--text);
  border: none;
  cursor: pointer;
}

.view {
  background-color: teal;
}

.delete {
  background-color: crimson;
}

@media (max-width: 768px) {
  .table {
    display: flex;
    flex-direction: row;
    width: 100%;
    -webkit-overflow-scrolling: touch; /* Smooth scrolling for iOS */
  }
  .table thead tr {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-right: 10px;
  }
  .table thead tr td:nth-child(1) {
    padding-bottom: 23px;
    margin-top: -13px;
  }
  .table thead tr td {
    font-size: 10px;
    width: 100%;
    padding: 10px 0;
  }
  .table tbody {
    width: 60%;
    position: relative;
    overflow-x: auto;
    /* overflow-y: hidden; */
  }
  .table thead th {
    text-align: left;
    border-bottom: 1px solid #f7f7f9;
  }
  .table tbody tr {
    display: table-cell;
    padding-right: 20px;
    width: 100%;
  }

  .table tbody td {
    display: block;
    font-size: 10px;
    padding: 10px 0;
  }

  .button {
    font-size: 10px;
  }
  .addButton {
    font-size: 12px;
  }
}
